.app {
  display: flex;
}

/* .sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
} */

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar .search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.sidebar .user-section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
